USE [CMSDB]
GO
/****** Object:  Table [dbo].[AdminActivityLogs]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NULL,
	[Action] [nvarchar](200) NULL,
	[Target] [nvarchar](200) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[pkid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](256) NULL,
	[Salt] [varchar](100) NOT NULL,
	[OTP] [varchar](10) NULL,
	[OTPExpire] [datetime] NULL,
	[FailedAttempts] [int] NULL,
	[LockUntil] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[LastLogin] [datetime] NULL,
	[LastLoginIP] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[pkid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankIPWhitelist]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankIPWhitelist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankID] [int] NULL,
	[AllowedIP] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[BankName] [varchar](100) NULL,
	[Status] [bit] NULL,
	[Priority] [int] NULL,
	[DailyLimit] [decimal](18, 2) NULL,
	[UsedLimit] [decimal](18, 2) NULL,
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[IsVerified] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankUsers]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[OTP] [varchar](10) NULL,
	[OTPExpire] [datetime] NULL,
	[IsFirstLogin] [bit] NULL,
	[BankName] [varchar](100) NULL,
	[BankID] [int] NULL,
	[Username] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankWallet]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankWallet](
	[BankID] [int] NOT NULL,
	[Balance] [decimal](18, 2) NULL,
	[UpdatedOn] [datetime] NULL,
	[HoldBalance] [decimal](18, 2) NULL,
	[AvailableBalance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMSWallet]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMSWallet](
	[WalletID] [int] NOT NULL,
	[Balance] [decimal](18, 2) NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMSWalletTxn]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMSWalletTxn](
	[txn_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](20) NULL,
	[amount] [decimal](18, 2) NULL,
	[created_on] [datetime] NULL,
	[wallet_id] [int] NULL,
	[RefTxn] [varchar](50) NULL,
	[SourceType] [varchar](20) NULL,
	[SourceID] [int] NULL,
	[ActionType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[txn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettlementDetails]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettlementDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettlementID] [int] NULL,
	[TxnID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settlements]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settlements](
	[SettlementID] [int] IDENTITY(1,1) NOT NULL,
	[BankID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[TotalTxn] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[RequestedAmount] [decimal](18, 2) NULL,
	[ApprovedAmount] [decimal](18, 2) NULL,
	[UTRNumber] [varchar](100) NULL,
	[RequestedDate] [datetime] NULL,
	[ProcessDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettlementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[txn_id] [int] IDENTITY(1,1) NOT NULL,
	[mobile] [varchar](15) NULL,
	[amount] [decimal](18, 2) NULL,
	[status] [varchar](20) NULL,
	[created_on] [datetime] NULL,
	[retailer_id] [varchar](50) NULL,
	[TxnRef] [varchar](100) NOT NULL,
	[ChargeAmount] [decimal](18, 2) NULL,
	[NetAmount] [decimal](18, 2) NULL,
	[BankID] [int] NULL,
	[retailer] [varchar](100) NULL,
	[ifsc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[txn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserIPWhitelist]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIPWhitelist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](50) NULL,
	[AllowedIP] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[Latitude] [decimal](10, 6) NULL,
	[Longitude] [decimal](10, 6) NULL,
	[City] [varchar](100) NULL,
	[Country] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLocation]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLocation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Latitude] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawalRequest]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawalRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Status] [varchar](20) NULL,
	[UTRNumber] [varchar](50) NULL,
	[RequestDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[RequestedBy] [int] NULL,
	[ApprovedBy] [int] NULL,
	[txn_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminActivityLogs] ON 

INSERT [dbo].[AdminActivityLogs] ([LogID], [AdminID], [Action], [Target], [IPAddress], [CreatedDate]) VALUES (1, 3, N'Created Admin', N'Sunilkumar3196@gmail.com', N'::1', CAST(N'2026-03-16T11:39:46.943' AS DateTime))
INSERT [dbo].[AdminActivityLogs] ([LogID], [AdminID], [Action], [Target], [IPAddress], [CreatedDate]) VALUES (2, 7, N'Created Admin', N'badri.saikumar3196@gmail.com', N'::1', CAST(N'2026-03-25T10:00:35.583' AS DateTime))
INSERT [dbo].[AdminActivityLogs] ([LogID], [AdminID], [Action], [Target], [IPAddress], [CreatedDate]) VALUES (3, 8, N'Created Admin', N'badri.saikumar202DD5@gmail.com', N'::1', CAST(N'2026-03-25T10:09:40.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([pkid], [username], [password], [Salt], [OTP], [OTPExpire], [FailedAttempts], [LockUntil], [IsActive], [CreateDate], [FullName], [Email], [Phone], [LastLogin], [LastLoginIP]) VALUES (7, N'Sunilkumar3196@gmail.com', N'a85dbb4004e2fb5a6dd684e3991de5ebed159dbc398d5209df3ab258ecfc24c1', N'c5bdf179-f0af-4875-8d7f-eda0be9880df', N'126895', CAST(N'2026-03-25T10:04:08.810' AS DateTime), 0, NULL, 1, CAST(N'2026-03-16T11:39:46.927' AS DateTime), N'Sunil Kalaga', N'Sunilkumar3196@gmail.com', N'6300678588', NULL, NULL)
INSERT [dbo].[AdminUsers] ([pkid], [username], [password], [Salt], [OTP], [OTPExpire], [FailedAttempts], [LockUntil], [IsActive], [CreateDate], [FullName], [Email], [Phone], [LastLogin], [LastLoginIP]) VALUES (8, N'badri.saikumar3196@gmail.com', N'3c64f69c03f1494acaa0927de5b37080903a9375283d3468198a0fba5b9d3610', N'40717efb-86c2-4134-b8b7-4f67a4b7b852', N'392509', CAST(N'2026-07-02T13:37:18.850' AS DateTime), 0, NULL, 1, CAST(N'2026-03-25T10:00:35.573' AS DateTime), N'BADRI SAI KUMAR', N'badri.saikumar3196@gmail.com', N'6300678581', NULL, NULL)
INSERT [dbo].[AdminUsers] ([pkid], [username], [password], [Salt], [OTP], [OTPExpire], [FailedAttempts], [LockUntil], [IsActive], [CreateDate], [FullName], [Email], [Phone], [LastLogin], [LastLoginIP]) VALUES (9, N'badri.saikumar202DD5@gmail.com', N'5daa91bf25d7a30150b41bdaae19c21dbb9d3d268b60880bb19c0f5d8cb2679a', N'8ddb802d-d639-4712-bae6-0fe058a57423', NULL, NULL, 0, NULL, 1, CAST(N'2026-03-25T10:09:40.563' AS DateTime), N'Sai Kumar Badri', N'badri.saikumar202DD5@gmail.com', N'6300678582', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Banks] ON 

INSERT [dbo].[Banks] ([BankName], [Status], [Priority], [DailyLimit], [UsedLimit], [BankID], [IsVerified], [IsActive], [CreatedDate]) VALUES (N'STATE Bank OF India', 1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, 0, 1, CAST(N'2026-03-23T18:56:10.030' AS DateTime))
INSERT [dbo].[Banks] ([BankName], [Status], [Priority], [DailyLimit], [UsedLimit], [BankID], [IsVerified], [IsActive], [CreatedDate]) VALUES (N'HDFC', 1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 2, 0, 1, CAST(N'2026-03-24T13:19:18.173' AS DateTime))
INSERT [dbo].[Banks] ([BankName], [Status], [Priority], [DailyLimit], [UsedLimit], [BankID], [IsVerified], [IsActive], [CreatedDate]) VALUES (N'BAJAJ', 1, 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 3, 0, 1, CAST(N'2026-03-24T19:27:37.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[Banks] OFF
GO
SET IDENTITY_INSERT [dbo].[BankUsers] ON 

INSERT [dbo].[BankUsers] ([UserID], [Password], [IsActive], [CreateDate], [FullName], [Email], [Phone], [OTP], [OTPExpire], [IsFirstLogin], [BankName], [BankID], [Username]) VALUES (1020, N'054258ce6e79d2fdf90ae7111e328d8a', 1, CAST(N'2026-03-23T18:57:20.480' AS DateTime), NULL, N'badri.saikumar2025@gmail.com', N'7992206451', N'540697', CAST(N'2026-06-29T18:03:35.383' AS DateTime), 0, NULL, 1, NULL)
INSERT [dbo].[BankUsers] ([UserID], [Password], [IsActive], [CreateDate], [FullName], [Email], [Phone], [OTP], [OTPExpire], [IsFirstLogin], [BankName], [BankID], [Username]) VALUES (1021, N'054258ce6e79d2fdf90ae7111e328d8a', 0, CAST(N'2026-03-24T13:19:28.930' AS DateTime), NULL, N'badri.saikumar2026665@gmail.com', N'7992206452', N'240520', CAST(N'2026-03-31T16:18:44.340' AS DateTime), 0, NULL, 2, NULL)
INSERT [dbo].[BankUsers] ([UserID], [Password], [IsActive], [CreateDate], [FullName], [Email], [Phone], [OTP], [OTPExpire], [IsFirstLogin], [BankName], [BankID], [Username]) VALUES (1022, N'054258ce6e79d2fdf90ae7111e328d8a', 1, CAST(N'2026-03-24T19:27:54.557' AS DateTime), NULL, N'badri.saikumar202YRIRF5@gmail.com', N'7992206453', N'897306', CAST(N'2026-03-24T19:42:14.870' AS DateTime), 0, NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[BankUsers] OFF
GO
INSERT [dbo].[BankWallet] ([BankID], [Balance], [UpdatedOn], [HoldBalance], [AvailableBalance]) VALUES (1, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-04-02T13:10:52.787' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[BankWallet] ([BankID], [Balance], [UpdatedOn], [HoldBalance], [AvailableBalance]) VALUES (2, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-04-02T13:10:52.787' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[BankWallet] ([BankID], [Balance], [UpdatedOn], [HoldBalance], [AvailableBalance]) VALUES (3, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-04-02T13:10:52.787' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CMSWallet] ([WalletID], [Balance], [UpdatedOn]) VALUES (1, CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-18T13:51:01.790' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CMSWalletTxn] ON 

INSERT [dbo].[CMSWalletTxn] ([txn_id], [type], [amount], [created_on], [wallet_id], [RefTxn], [SourceType], [SourceID], [ActionType]) VALUES (40, N'CREDIT', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-04-02T13:11:58.427' AS DateTime), 1, N'TXN20260402131158', NULL, NULL, NULL)
INSERT [dbo].[CMSWalletTxn] ([txn_id], [type], [amount], [created_on], [wallet_id], [RefTxn], [SourceType], [SourceID], [ActionType]) VALUES (41, N'CREDIT', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-04-03T11:56:02.170' AS DateTime), 1, N'TXN20260403115602', NULL, NULL, NULL)
INSERT [dbo].[CMSWalletTxn] ([txn_id], [type], [amount], [created_on], [wallet_id], [RefTxn], [SourceType], [SourceID], [ActionType]) VALUES (42, N'CREDIT', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-04-07T12:28:37.560' AS DateTime), 1, N'TXN20260407122837', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CMSWalletTxn] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([txn_id], [mobile], [amount], [status], [created_on], [retailer_id], [TxnRef], [ChargeAmount], [NetAmount], [BankID], [retailer], [ifsc]) VALUES (66, N'9876543210', CAST(5000.00 AS Decimal(18, 2)), N'SETTLED', CAST(N'2026-04-02T13:11:58.423' AS DateTime), NULL, N'TXN20260402131158', NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Transactions] ([txn_id], [mobile], [amount], [status], [created_on], [retailer_id], [TxnRef], [ChargeAmount], [NetAmount], [BankID], [retailer], [ifsc]) VALUES (67, N'9876543210', CAST(5000.00 AS Decimal(18, 2)), N'SETTLED', CAST(N'2026-04-03T11:56:02.163' AS DateTime), NULL, N'TXN20260403115602', NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Transactions] ([txn_id], [mobile], [amount], [status], [created_on], [retailer_id], [TxnRef], [ChargeAmount], [NetAmount], [BankID], [retailer], [ifsc]) VALUES (68, N'9876543210', CAST(5000.00 AS Decimal(18, 2)), N'SETTLED', CAST(N'2026-04-07T12:28:37.547' AS DateTime), NULL, N'TXN20260407122837', NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLocation] ON 

INSERT [dbo].[UserLocation] ([ID], [Latitude], [Longitude], [CreatedDate], [UserID]) VALUES (10, N'29.9749', N'76.8698', CAST(N'2026-03-23T18:58:04.907' AS DateTime), 1020)
INSERT [dbo].[UserLocation] ([ID], [Latitude], [Longitude], [CreatedDate], [UserID]) VALUES (11, N'29.9747', N'76.8701', CAST(N'2026-03-23T19:33:34.810' AS DateTime), 3)
INSERT [dbo].[UserLocation] ([ID], [Latitude], [Longitude], [CreatedDate], [UserID]) VALUES (12, N'29.9763', N'76.8679', CAST(N'2026-03-24T11:16:05.510' AS DateTime), 1020)
GO
SET IDENTITY_INSERT [dbo].[UserLocation] OFF
GO
SET IDENTITY_INSERT [dbo].[WithdrawalRequest] ON 

INSERT [dbo].[WithdrawalRequest] ([Id], [BankID], [Amount], [Status], [UTRNumber], [RequestDate], [ApprovedDate], [RequestedBy], [ApprovedBy], [txn_id]) VALUES (17, 1, CAST(10000.00 AS Decimal(18, 2)), N'REJECTED', NULL, CAST(N'2026-04-03T18:32:33.430' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[WithdrawalRequest] ([Id], [BankID], [Amount], [Status], [UTRNumber], [RequestDate], [ApprovedDate], [RequestedBy], [ApprovedBy], [txn_id]) VALUES (18, 1, CAST(10000.00 AS Decimal(18, 2)), N'REJECTED', NULL, CAST(N'2026-04-03T18:33:10.480' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[WithdrawalRequest] ([Id], [BankID], [Amount], [Status], [UTRNumber], [RequestDate], [ApprovedDate], [RequestedBy], [ApprovedBy], [txn_id]) VALUES (19, 1, CAST(10000.00 AS Decimal(18, 2)), N'APPROVED', N'123456780777', CAST(N'2026-04-03T18:33:13.380' AS DateTime), CAST(N'2026-04-03T18:35:37.933' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WithdrawalRequest] OFF
GO
/****** Object:  Index [UQ_OnlyOneWallet]    Script Date: 02-07-2026 13:39:47 ******/
ALTER TABLE [dbo].[CMSWallet] ADD  CONSTRAINT [UQ_OnlyOneWallet] UNIQUE NONCLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminActivityLogs] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[BankIPWhitelist] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BankIPWhitelist] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Banks] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Banks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Banks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BankUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BankUsers] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[BankUsers] ADD  DEFAULT ((1)) FOR [IsFirstLogin]
GO
ALTER TABLE [dbo].[BankWallet] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[BankWallet] ADD  DEFAULT (getdate()) FOR [UpdatedOn]
GO
ALTER TABLE [dbo].[BankWallet] ADD  DEFAULT ((0)) FOR [HoldBalance]
GO
ALTER TABLE [dbo].[BankWallet] ADD  DEFAULT ((0)) FOR [AvailableBalance]
GO
ALTER TABLE [dbo].[CMSWalletTxn] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[Settlements] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Settlements] ADD  DEFAULT ('REQUESTED') FOR [Status]
GO
ALTER TABLE [dbo].[Settlements] ADD  DEFAULT (getdate()) FOR [RequestedDate]
GO
ALTER TABLE [dbo].[UserIPWhitelist] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserIPWhitelist] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserLocation] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[WithdrawalRequest] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
/****** Object:  StoredProcedure [dbo].[OLD_sp_GetPendingRequests]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[OLD_sp_GetPendingRequests]
AS
BEGIN
    SELECT 
        SettlementID AS Id,
        BankID,
        RequestedAmount AS Amount,
        RequestedDate AS RequestDate
    FROM Settlements
    WHERE Status = 'REQUESTED'
    ORDER BY RequestedDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminLogin]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AdminLogin]
    @login VARCHAR(100)
AS
BEGIN

SET NOCOUNT ON;

SELECT 
    pkid,
    username,
    password,
    Salt,
    FullName,
    Email,
    Phone
FROM AdminUsers
WHERE
(
      username = @login
   OR Email = @login
   OR Phone = @login
)
AND IsActive = 1

END
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminReports]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AdminReports]
AS
BEGIN
    SELECT 
        t.txn_id AS txn_id,
        t.mobile AS mobile,
        b.BankName,
        t.amount,
        t.status,
        t.created_on
    FROM Transactions t
    LEFT JOIN Banks b ON t.BankID = b.BankID
    ORDER BY t.created_on DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveSettlement]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ApproveSettlement]
    @ID INT,
    @UTR VARCHAR(50)
AS
BEGIN
    DECLARE @amount DECIMAL(18,2)

    -- Get amount
    SELECT @amount = amount 
    FROM SettlementRequests 
    WHERE ID = @ID

    -- Update request
    UPDATE SettlementRequests
    SET status = 'SETTLED',
        UTR = @UTR,
        ApprovedOn = GETDATE()
    WHERE ID = @ID

    -- 🔥 UPDATE WALLET HERE
    IF EXISTS (SELECT 1 FROM CMSWallet)
    BEGIN
        UPDATE CMSWallet
        SET Balance = Balance + @amount,
            UpdatedOn = GETDATE()
    END
    ELSE
    BEGIN
        INSERT INTO CMSWallet (Balance, UpdatedOn)
        VALUES (@amount, GETDATE())
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveWithdrawal]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ApproveWithdrawal]
@RequestId INT,
@utr VARCHAR(50)
AS
BEGIN
    DECLARE @amount DECIMAL(18,2)
    DECLARE @BankID INT

    -- Get data
    SELECT 
        @amount = Amount,
        @BankID = BankID
    FROM WithdrawalRequest
    WHERE Id = @RequestId

    BEGIN TRANSACTION

    BEGIN TRY

        -- 1. Approve request
        UPDATE WithdrawalRequest
        SET Status = 'PAID',   -- 🔥 use PAID (not APPROVED)
            UTRNumber = @utr,
            ApprovedDate = GETDATE()
        WHERE Id = @RequestId

        -- 2. Settle transactions
        UPDATE Transactions
        SET status = 'SETTLED'
        WHERE txn_id IN (
            SELECT txn_id FROM (
                SELECT txn_id,
                       SUM(amount) OVER (ORDER BY created_on) AS running_total
                FROM Transactions
                WHERE BankID = @BankID
                AND status = 'SUCCESS'
            ) t
            WHERE running_total <= @amount
        )

        -- 3. 🔥 UPDATE BANK WALLET
        UPDATE BankWallet
        SET AvailableBalance = AvailableBalance - @amount
        WHERE BankID = @BankID

        -- 4. 🔥 UPDATE CMS WALLET (MISSING BEFORE)
        UPDATE CMSWallet
        SET Balance = Balance - @amount,
            UpdatedOn = GETDATE()
        WHERE WalletID = 1

        -- 5. 🔥 LOG CMS WALLET TRANSACTION
        INSERT INTO CMSWalletTxn(wallet_id, type, amount, RefTxn, created_on)
        VALUES (1, 'DEBIT', @amount, 'WITHDRAW_' + CAST(@RequestId AS VARCHAR), GETDATE())

        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        THROW
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveWithdrawalFinal]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ApproveWithdrawalFinal]
    @RequestId INT,
    @UTR VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @amount DECIMAL(18,2)
    DECLARE @bankId INT

    -- GET DATA
    SELECT 
        @amount = Amount,
        @bankId = BankID
    FROM WithdrawalRequest
    WHERE Id = @RequestId

    --------------------------------------------------
    -- 1. MARK AS PAID
    --------------------------------------------------
    UPDATE WithdrawalRequest
    SET Status = 'PAID',
        UTRNumber = @UTR,
        ApprovedDate = GETDATE()
    WHERE Id = @RequestId

    --------------------------------------------------
    -- 2. DEDUCT CMS WALLET (MAIN)
    --------------------------------------------------
    UPDATE CMSWallet
    SET Balance = Balance - @amount,
        UpdatedOn = GETDATE()
    WHERE WalletID = 1

    --------------------------------------------------
    -- 3. DEDUCT BANK WALLET
    --------------------------------------------------
    UPDATE BankWallet
    SET AvailableBalance = AvailableBalance - @amount,
        UpdatedOn = GETDATE()
    WHERE BankID = @bankId

    --------------------------------------------------
    -- 4. MOVE SUCCESS → SETTLED (IMPORTANT)
    --------------------------------------------------
    ;WITH cte AS (
        SELECT txn_id,
               amount,
               SUM(amount) OVER (ORDER BY created_on) AS running_total
        FROM Transactions
        WHERE status = 'SUCCESS'
        AND BankID = @bankId
    )
    UPDATE t
    SET status = 'SETTLED'
    FROM Transactions t
    INNER JOIN cte c ON t.txn_id = c.txn_id
    WHERE c.running_total <= @amount

END
GO
/****** Object:  StoredProcedure [dbo].[sp_BankDashboardKPIs]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BankDashboardKPIs]
    @BankID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ISNULL(SUM(CASE 
            WHEN UPPER(LTRIM(RTRIM(status))) IN ('SUCCESS','SETTLED') 
            THEN amount ELSE 0 END),0) AS collection,

        ISNULL(SUM(CASE 
            WHEN UPPER(LTRIM(RTRIM(status))) = 'SETTLED' 
            THEN amount ELSE 0 END),0) AS settled,

        ISNULL(SUM(CASE 
            WHEN UPPER(LTRIM(RTRIM(status))) IN ('SUCCESS','SETTLED') 
            THEN amount ELSE 0 END),0)
        -
        ISNULL(SUM(CASE 
            WHEN UPPER(LTRIM(RTRIM(status))) = 'SETTLED' 
            THEN amount ELSE 0 END),0) AS wallet

    FROM Transactions
    WHERE BankID=@BankID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BankDashboardSummary]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BankDashboardSummary]
    @BankID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- TODAY COLLECTION
        ISNULL(SUM(CASE 
            WHEN CAST(created_on AS DATE)=CAST(GETDATE() AS DATE)
            AND status IN ('SUCCESS','SETTLED')
            THEN amount ELSE 0 END),0) AS today,

        -- YESTERDAY
        ISNULL(SUM(CASE 
            WHEN CAST(created_on AS DATE)=CAST(DATEADD(DAY,-1,GETDATE()) AS DATE)
            AND status IN ('SUCCESS','SETTLED')
            THEN amount ELSE 0 END),0) AS yesterday,

        -- MONTH
        ISNULL(SUM(CASE 
            WHEN MONTH(created_on)=MONTH(GETDATE())
            AND YEAR(created_on)=YEAR(GETDATE())
            AND status IN ('SUCCESS','SETTLED')
            THEN amount ELSE 0 END),0) AS month,

        -- ALL TIME COLLECTION
        ISNULL(SUM(CASE 
            WHEN status IN ('SUCCESS','SETTLED')
            THEN amount ELSE 0 END),0) AS alltime,

        -- SETTLED AMOUNT
        ISNULL(SUM(CASE 
            WHEN status = 'SETTLED'
            THEN NetAmount ELSE 0 END),0) AS settled,

        -- WALLET (AVAILABLE)
        ISNULL(SUM(CASE 
            WHEN status IN ('SUCCESS','SETTLED')
            THEN amount ELSE 0 END),0)
        -
        ISNULL(SUM(CASE 
            WHEN status = 'SETTLED'
            THEN amount ELSE 0 END),0) AS wallet,

        -- 🔥 FIXED PENDING SETTLEMENT
        ISNULL(SUM(CASE 
            WHEN status = 'SUCCESS'
            THEN NetAmount ELSE 0 END),0)
        -
        ISNULL((
            SELECT SUM(Amount)
            FROM WithdrawalRequest
            WHERE BankID = @BankID
            AND status = 'PENDING'
        ),0) AS settlementPending

    FROM Transactions
    WHERE BankID=@BankID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BankHolding]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BankHolding]
AS
BEGIN
    SELECT 
        b.BankName,
        ISNULL(SUM(t.NetAmount),0) AS HoldingAmount
    FROM Banks b
    LEFT JOIN Transactions t
        ON t.BankID = b.BankID
        AND t.status = 'HOLD'
    GROUP BY b.BankName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BankUserLogin]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BankUserLogin]
@username VARCHAR(50),
@password VARCHAR(50)
AS
BEGIN

SELECT 
UserID,
Username
FROM BankUsers
WHERE Username=@username
AND Password=@password
AND IsActive=1

END
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboard_kpi]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dashboard_kpi]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- TOTAL COLLECTION
        ISNULL(SUM(CASE 
            WHEN UPPER(LTRIM(RTRIM(status))) IN ('SUCCESS','SETTLED') 
            THEN amount ELSE 0 END),0) AS CollectionToday,

        -- TOTAL SETTLED
        ISNULL(SUM(CASE 
            WHEN UPPER(LTRIM(RTRIM(status))) = 'SETTLED' 
            THEN amount ELSE 0 END),0) AS SettledToday,

        -- ✅ REAL WALLET (FIXED)
        (SELECT TOP 1 Balance 
         FROM CMSWallet 
         WHERE WalletID = 1) AS CMSWalletBalance

    FROM Transactions;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboard_summary]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_dashboard_summary]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- TODAY COLLECTION
        ISNULL(SUM(CASE 
            WHEN created_on >= CAST(GETDATE() AS DATE)
            AND created_on < DATEADD(DAY,1,CAST(GETDATE() AS DATE))
            AND status IN ('SUCCESS','SETTLED')
        THEN amount ELSE 0 END),0) AS TodayTotal,

        -- YESTERDAY
        ISNULL(SUM(CASE 
            WHEN created_on >= DATEADD(DAY,-1,CAST(GETDATE() AS DATE))
            AND created_on < CAST(GETDATE() AS DATE)
            AND status IN ('SUCCESS','SETTLED')
        THEN amount ELSE 0 END),0) AS YesterdayTotal,

        -- MONTH
        ISNULL(SUM(CASE 
            WHEN MONTH(created_on) = MONTH(GETDATE())
            AND YEAR(created_on) = YEAR(GETDATE())
            AND status IN ('SUCCESS','SETTLED')
        THEN amount ELSE 0 END),0) AS MonthTotal,

        -- ALL TIME COLLECTION
        ISNULL(SUM(CASE 
            WHEN status IN ('SUCCESS','SETTLED')
        THEN amount ELSE 0 END),0) AS AllTimeTotal,

        -- ✅ CMS WALLET (REAL BALANCE)
        (SELECT TOP 1 Balance 
         FROM CMSWallet WITH (NOLOCK) 
         WHERE WalletID = 1) AS SettlementBalance,

        -- ✅ PENDING WITHDRAW REQUEST (IMPORTANT FIX)
        ISNULL((
            SELECT SUM(amount) 
            FROM WithdrawalRequest WITH (NOLOCK)
            WHERE status = 'PENDING'
        ),0) AS PendingWithdraw

    FROM Transactions WITH (NOLOCK)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoSettlement]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoSettlement]
    @BankID INT
AS
BEGIN
    DECLARE @amount DECIMAL(18,2)

    -- Get total success amount
    SELECT @amount = ISNULL(SUM(amount),0)
    FROM Transactions
    WHERE BankID=@BankID AND status='SUCCESS'

    -- Move to bank wallet
    UPDATE BankWallet
    SET AvailableBalance = AvailableBalance + @amount,
        UpdatedOn = GETDATE()
    WHERE BankID=@BankID

    -- Mark transactions as settled
    UPDATE Transactions
    SET status='SETTLED'
    WHERE BankID=@BankID AND status='SUCCESS'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTransactions]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllTransactions]
AS
BEGIN

SELECT 
t.txn_id,
t.mobile,
b.BankName AS BankName,  -- ✅ FIXED
t.amount,
t.status,
t.created_on
FROM Transactions t
LEFT JOIN BankUsers b
ON t.BankID = b.UserID
ORDER BY t.txn_id DESC

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRecentTransactions]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRecentTransactions]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 50
        t.txn_id,
        t.mobile,
        t.amount,
        t.status,
        t.created_on,
        b.BankName   -- ✅ added
    FROM Transactions t
    LEFT JOIN Banks b ON t.BankID = b.BankID
    ORDER BY t.created_on DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTransaction]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertTransaction]
    @mobile VARCHAR(15),
    @amount DECIMAL(10,2),
    @bankId INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @TxnRef VARCHAR(50);
    SET @TxnRef = 'TXN' + FORMAT(GETDATE(), 'yyyyMMddHHmmss');

    BEGIN TRY
        BEGIN TRANSACTION;

        -- ✅ ENSURE CMS WALLET EXISTS
        IF NOT EXISTS (SELECT 1 FROM CMSWallet WHERE WalletID = 1)
        BEGIN
            INSERT INTO CMSWallet (WalletID, Balance, UpdatedOn)
            VALUES (1, 0, GETDATE());
        END

        -- INSERT TRANSACTION
        INSERT INTO Transactions
        (
            mobile, amount, BankID, TxnRef, status, created_on
        )
        VALUES
        (
            @mobile, @amount, @bankId, @TxnRef, 'SUCCESS', GETDATE()
        );

        -- ✅ UPDATE CMS WALLET (SAFE)
        UPDATE CMSWallet
        SET Balance = ISNULL(Balance,0) + @amount,
            UpdatedOn = GETDATE()
        WHERE WalletID = 1;

        -- 🚨 CHECK UPDATE SUCCESS
        IF @@ROWCOUNT = 0
        BEGIN
            THROW 50001, 'CMSWallet update failed', 1;
        END

        -- ✅ ENSURE BANK WALLET EXISTS
        IF NOT EXISTS (SELECT 1 FROM BankWallet WHERE BankID = @bankId)
        BEGIN
            INSERT INTO BankWallet (BankID, AvailableBalance)
            VALUES (@bankId, 0);
        END

        -- UPDATE BANK WALLET
        UPDATE BankWallet
        SET AvailableBalance = ISNULL(AvailableBalance,0) + @amount
        WHERE BankID = @bankId;

        -- WALLET HISTORY
        INSERT INTO CMSWalletTxn(wallet_id,type,amount,RefTxn,created_on)
        VALUES (1,'CREDIT',@amount,@TxnRef,GETDATE());

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PaymentSuccess]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PaymentSuccess]
    @TxnRef VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @amount DECIMAL(10,2);
    DECLARE @bankId INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- GET TRANSACTION DATA
        SELECT 
            @amount = amount,
            @bankId = BankID
        FROM Transactions
        WHERE TxnRef = @TxnRef;

        -- UPDATE STATUS
        UPDATE Transactions
        SET status = 'SUCCESS'
        WHERE TxnRef = @TxnRef;

        -- CMS WALLET
        IF NOT EXISTS (SELECT 1 FROM CMSWallet WHERE WalletID = 1)
        BEGIN
            INSERT INTO CMSWallet (WalletID, Balance, UpdatedOn)
            VALUES (1, 0, GETDATE());
        END

        UPDATE CMSWallet
        SET Balance = ISNULL(Balance,0) + @amount,
            UpdatedOn = GETDATE()
        WHERE WalletID = 1;

        -- BANK WALLET
        IF NOT EXISTS (SELECT 1 FROM BankWallet WHERE BankID = @bankId)
        BEGIN
            INSERT INTO BankWallet (BankID, AvailableBalance)
            VALUES (@bankId, 0);
        END

        UPDATE BankWallet
        SET AvailableBalance = ISNULL(AvailableBalance,0) + @amount
        WHERE BankID = @bankId;

        -- WALLET LOG
        INSERT INTO CMSWalletTxn(wallet_id,type,amount,RefTxn,created_on)
        VALUES (1,'CREDIT',@amount,@TxnRef,GETDATE());

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_recent_transactions]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_recent_transactions]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 50
        txn_id,
        mobile,
        amount,
        status,
        created_on
    FROM Transactions WITH (NOLOCK)
    ORDER BY created_on DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RejectSettlement]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RejectSettlement]
    @ID INT
AS
BEGIN
    UPDATE Settlements
    SET Status = 'REJECTED'
    WHERE SettlementID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RequestWithdrawal]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RequestWithdrawal]
    @BankID INT,
    @Amount DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Balance DECIMAL(18,2)

    SELECT @Balance = Balance FROM BankWallet WHERE BankID=@BankID

    IF @Balance IS NULL OR @Balance < @Amount
    BEGIN
        RAISERROR('Insufficient Balance',16,1)
        RETURN
    END

    INSERT INTO WithdrawalRequest (BankID, Amount, Status, RequestDate)
    VALUES (@BankID, @Amount, 'Pending', GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAdminOTP]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateAdminOTP]
@AdminID INT,
@OTP VARCHAR(10)
AS
BEGIN

UPDATE AdminUsers
SET 
OTP=@OTP,
OTPExpire = DATEADD(MINUTE,5,GETDATE())
WHERE pkid=@AdminID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTxnStatus]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTxnStatus]
@txn_id INT
AS
BEGIN
    UPDATE Transactions
    SET status = 'SUCCESS'
    WHERE txn_id = @txn_id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateWalletOnSuccess]    Script Date: 02-07-2026 13:39:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateWalletOnSuccess]
    @amount DECIMAL(18,2)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM CMSWallet)
    BEGIN
        UPDATE CMSWallet
        SET Balance = Balance + @amount,
            UpdatedOn = GETDATE()
    END
    ELSE
    BEGIN
        INSERT INTO CMSWallet (Balance, UpdatedOn)
        VALUES (@amount, GETDATE())
    END
END
GO
